<ion-toolbar>
  <!--- acconts header-->

  <div class="accounts-header ">
    <ion-row>
      <ion-col size="1">
       <div class="back-button">
         <ion-back-button defaultHref="dashboard/home" name="chevron-back-outline"></ion-back-button></div>
      </ion-col>
      <ion-col size="2">
        <img src="../../assets/imgs/logo.png"/>
      </ion-col>
      <ion-col size="7">
        
      </ion-col>
      <ion-col size="1">
        <img src="../../assets/icon/bellb.svg"/>
      </ion-col>
      <ion-col size="1" class="blue-wallet">
        <img src="../../assets/icon/walletb.svg"/>
      </ion-col>
    </ion-row>
   
   </div>
   <!--- accounts header end-->
</ion-toolbar>

<ion-content>
  Mobile Banking Services - Terms and Conditions
  TERMS OF USE
  
  These terms and conditions explain the rights and obligations pertaining to the Mobile Banking Service (defined below) and information that the Customer may use or request from the Bank or that the Bank may provide to the Customer through the Mobile Banking Service.
  
  The Bank reserves the right to add, amend, revise, change or cancel any of these terms and conditions and also reserves the right to modify any features of any products or services offered by the Bank.
  
  The Customer unconditionally accepts these terms and conditions applicable to such Account (defined below) and the services relating thereto and shall always be bound by and abide with them and their amendments from time to time.
  
  The Customer understands and acknowledges that this Mobile Banking Service is an extension of the OLB (defined below) provided by the Bank and the Customer accessing such Mobile Banking Service shall also be bound by the terms and conditions that govern the OLB.
  
  These terms and conditions are in addition to and not in substitution / derogation of the general business terms and conditions; the wealth management terms and conditions; and such other terms as may be prescribed by the Bank from time to time in relation to the Services.
  DEFINITIONS
  
  Account shall mean the bank account maintained by the Customer with the Bank for which the Mobile Banking Service is being offered.
  
  Applicable Laws shall mean and include any statute, law, regulation or a stipulation by the RBI or any other regulatory authority whether in effect as on date or as amended from time to time.
  
  Application shall mean the mobile application which will be downloaded on the mobile phone of the Customer to access and use the Mobile Banking Service.
  
  Bank shall mean Deutsche Bank AG.
  
  Customer shall mean the existing holder of an Account with the Bank or the holder of the Bank’s debit / credit cards who has made an application to the Bank to use the Mobile Banking Service and / or downloaded the MyBank India - Mobile Banking App and thereby agreed to these terms and conditions.
  
  Customer Identification Data shall mean the Customer account number / card number, mobile phone number, user ID and other information that are to be used by the Customer to authenticate themselves prior to accessing the Mobile Banking Service which may be the same as the information used by the Customer for accessing the OLB services.
  
  Mobile Banking Service means any and all of the Services offered by the Bank to the Customer on phone and / or any electronic gadgets owned by the Customer.
  
  Mobile Phone Number shall mean the number registered by the Customer in relation to the use of Services offered by the Bank.
  
  OLB means Online Banking Services provided by the Bank on its website.
  
  RBI shall mean the Reserve Bank of India.
  
  Service shall mean current / savings account related operations including inter alia wealth management services and / or such additional features as may be added / removed from time to time.
  
  SMS shall mean Short Messaging Service, being a service offered by Telephone Service Providers and / or any other similar method of electronic communication that may now or at anytime in the future be offered by Telephone Service Provider(s).
  
  SMS Banking means a service that allows Customers to access their account information via Mobile phone using SMS messaging.
  
  Telephone Service Provider shall mean the provider of the mobile phone connectivity services and Mobile Phone Number used by the Customer on their mobile phones.
  
  Website shall mean the domain of the Bank located at url www.deutschebank.co.in owned and controlled by the Bank.
  
  ACCEPTANCE OF TERMS AND CONDITIONS
  
  • On the terms and conditions hereinafter provided, the Bank offers the Mobile Banking Service to the Customer. These terms and conditions made by the Bank and accepted by the Customer shall form the contract between the Customer. These terms and conditions shall be in addition to and not in derogation of other terms and conditions relating to any Account or Service of the Customer and / or the respective product provided by the Bank unless otherwise specifically stated.
  
  • To access the Mobile Banking Service, the Customer is required to download the Application on their mobile phone and / or any electronic gadgets owned by the Customer provided such mobile phone and / or any electronic gadgets is compatible with the Application.
  
  • In order to transact under the Mobile Banking Service, there are transaction data verification / re-authentication requirements for the Customer. The Customer may use the OLB credentials or the Customer Identification Data to effect such verification / re-authentication. The Customer will use the same Customer Identification Data for both the OLB and Mobile Banking Service. The Customer must strictly adhere to privacy procedures to ensure safe keeping of the log in credentials.
  
  USAGE OF FACILITY
  
  • By accepting the terms and conditions on the mobile phone while registering for the Mobile Banking Service, the Customer:
  
  a) agrees to use the Mobile Banking Service for financial and non-financial transactions offered by the Bank from time to time,
  b) irrevocably authorizes the Bank to debit the Accounts which have been enabled for Mobile Banking Service for all transactions / services undertaken by using Customer Identification Data,
  c) authorizes the Bank to map the account number, User ID and Mobile Phone Number for the smooth operation of Mobile Banking Service offered by Bank and to preserve the mapping record in its own server or server of any other third party and to use such data at its discretion for providing / enhancing further banking / technology products that it may offer,
  d) agrees to the usage of the Customer Identification Data as an authentication factor for the Mobile Banking Service,
  e) confirms to the acceptance of the terms and condition of the Mobile Banking Service offered by the Bank,
  f) agrees that the Mobile Banking Service will enable him / her to transact using Customer Identification Data within the limit prescribed by the Bank and will be deemed as bonafide transaction,
  g) agrees that the transactions originated using the mobile phones are non-retractable as these are instantaneous / real time,
  h) understands and explicitly agrees that the Bank has the absolute and unfettered right to revise the prescribed ceilings from time to time which will be binding, and
  i) agrees that while the Information Technology Act, 2000 (IT Act) prescribes that a subscriber may authenticate an electronic record by affixing his digital signature which has been given legal recognition under the Act, the Bank is authenticating the Customer by using Mobile Phone Number, Customer Identification Data or any other method decided at the discretion of the Bank which may not be recognized under the IT Act for authentication of electronic records and this is acceptable and binding to the Customer and hence the Customer is solely responsible for maintenance of the secrecy and confidentiality of the Customer Identification Data without any liability to the Bank.
  
  • The guidelines issued by the RBI on “Know Your Customer (KYC)”, “Anti Money Laundering (AML)” and “Combating the Financing of Terrorism (CFT)” from time to time would be applicable to the Mobile Banking Service.
  
  • The Bank shall file “Suspicious Transaction Report (STR)” to the “Financial Intelligence Unit – India (FIU-IND)” for mobile banking transactions as in the case of normal banking transactions
  
</ion-content>











https://www.deutschebank.co.in/mobile-banking-tnc.html